<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="{{ settings.color_primary_color | default: '#000000' }}">
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">
  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '32x32' }}">
  {%- endif -%}
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="dns-prefetch" href="https://cdn.shopify.com">

  {%- comment -%}
  preload fonts, if used
  <link rel="preload" as="font" href="{{ 'font.woff' | asset_url }}" type="font/woff2" crossorigin>
  {%- endcomment -%}
  {% render 'critical-css', template_name: template.name, template_suffix: template.suffix %}
  <link rel="preload" as="style" href="{{ 'normalize.css' | asset_url }}">
  <link rel="preload" as="style" href="{{ 'styles.css' | asset_url }}">
  <noscript>
    <link rel="stylesheet" href="{{ 'normalize.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'styles.css' | asset_url }}">
  </noscript>

  {%- capture current_page_title -%}
    {{ page_title }}
    {% if current_tags %}
      {% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  {%- endcapture -%}
  <title>{{ current_page_title }}</title>
</head>
<body class="template-{{ request.page_type | handleize }}">
  <a class="sr-only" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  <main id="MainContent">
    {{ content_for_layout }}
  </main>
  <script>
    window.theme = window.theme || {};
    theme.routes = {
      root_url: '{{ routes.root_url }}',
      account_url: '{{ routes.account_url }}',
      account_login_url: '{{ routes.account_login_url }}',
      account_logout_url: '{{ routes.account_logout_url }}',
      account_recover_url: '{{ routes.account_recover_url }}',
      account_register_url: '{{ routes.account_register_url }}',
      account_addresses_url: '{{ routes.account_addresses_url }}',
      collections_url: '{{ routes.collections_url }}',
      all_products_collection_url: '{{ routes.all_products_collection_url }}',
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_clear_url: '{{ routes.cart_clear_url }}'
    };
  </script>
  <script src="{{ 'preload-styles.js' | asset_url }}"></script>
  {{ content_for_header }}
  <script src="{{ 'scripts.js' | asset_url }}"></script>
</body>
</html>